<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>dk.cphbusiness.codecheck.web.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowTasks</servlet-name>
        <servlet-class>dk.cphbusiness.codecheck.web.ShowTasks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowTask</servlet-name>
        <servlet-class>dk.cphbusiness.codecheck.web.ShowTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Upload</servlet-name>
        <servlet-class>dk.cphbusiness.codecheck.web.Upload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowReport</servlet-name>
        <servlet-class>dk.cphbusiness.codecheck.web.ShowReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewStudent</servlet-name>
        <servlet-class>dk.cphbusiness.codecheck.web.NewStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignmentList</servlet-name>
        <servlet-class>dk.cphbusiness.codecheck.web.AssignmentList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignmentEdit</servlet-name>
        <servlet-class>dk.cphbusiness.codecheck.web.AssignmentEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseList</servlet-name>
        <servlet-class>dk.cphbusiness.codecheck.web.CourseList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseAssign</servlet-name>
        <servlet-class>dk.cphbusiness.codecheck.web.CourseAssign</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseView</servlet-name>
        <servlet-class>dk.cphbusiness.codecheck.web.CourseView</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowTasks</servlet-name>
        <url-pattern>/ShowTasks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowTask</servlet-name>
        <url-pattern>/ShowTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Upload</servlet-name>
        <url-pattern>/Upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowReport</servlet-name>
        <url-pattern>/ShowReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewStudent</servlet-name>
        <url-pattern>/NewStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignmentList</servlet-name>
        <url-pattern>/AssignmentList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignmentEdit</servlet-name>
        <url-pattern>/AssignmentEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseList</servlet-name>
        <url-pattern>/CourseList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseAssign</servlet-name>
        <url-pattern>/CourseAssign</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseView</servlet-name>
        <url-pattern>/CourseView</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
